.backgammon-game {
  background-color: darkgray;
  border-radius: 0.625em;
  border: 0.0625em solid black;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  padding: 1.25em;
}

.backgammon-game .dice-button {
  width: 100%;
  border-radius: 0.5em;
  border: 0.0625em solid transparent;
  cursor: pointer;
  height: fit-content;
  transition: border-color 0.25s;
}

.backgammon-game .dice-button:active {
  outline: 0.5em auto black;
}

.backgammon-game .backgammon-status {
  display: flex;
  justify-content: space-between;
}

.backgammon-game .backgammon-bar {
  display: flex;
  gap: 20px;
  justify-content: right;
}

.backgammon-game button:active {
  outline: 0.5em auto #e76f51;
}

.backgammon-game button:disabled {
  cursor: not-allowed;
  outline: transparent;
}

.backgammon-game .backgammon-debug {
  margin-top: 20px;
}

.backgammon-game .debug-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.backgammon-game .backgammon-borne-off {
  display: flex;
  gap: 20px;
  justify-content: right;
}
