.connect4Cell {
  width: 3.125em;
  height: 3.125em;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checker {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  margin: 0.125em auto;
}

.playerOne {
  background-color: var(--player-red);
}

.playerTwo {
  background-color: var(--player-yellow);
}
