/* Cell base */
.connect4-board .connect4-cell {
  width: 3.125em;
  height: 3.125em;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.connect4-board .connect4-cell.winner {
  cursor: default;
}

/* Checker pieces */
.connect4-board .connect4-cell .checker {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  margin: 0.125em auto;
}

.connect4-board .connect4-cell .checker.player_one {
  background-color: red;
}

.connect4-board .connect4-cell .checker.player_two {
  background-color: yellow;
}
