
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: cornsilk;
  background: linear-gradient(to right, green, pink);
  text-align: center;
  padding: 1.25em;
  background-color: white;
  margin: 0;
  width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin: 10px 0;
}

.list-item a {
  text-decoration: none;
  font-size: 18px;
}

.list-item a:hover {
  text-decoration: underline;
}

