/* Backgammon point styles */
.point {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 9.375em;
  border: 0.25em solid transparent;
}

.point:nth-child(6),
.point:nth-child(18) {
  border-right-color: black;
}

.point:nth-child(7),
.point:nth-child(19) {
  border-left-color: black;
}

.light {
  background-color: #f4a261;
}

.dark {
  background-color: #2a9d8f;
}

.bottom {
  justify-content: flex-end;
}

.selected {
  border-color: #e2f114;
}

.potential {
  border-color: #e7f070;
}
