/* Game container */
.connect4-game {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  border-radius: 0.75em;
  border: 0.0625em solid black;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  padding: 1.25em;
  text-align: center;
  align-items: center;
  width: 25em;
}

/* Game elements */
.connect4-game .connect4-title {
  margin: 0 0 1em 0;
}

.connect4-game .connect4-actions {
  display: flex;
  justify-content: center;
  margin: 1em;
}

/* Button states */
.connect4-game button:active {
  outline: 0.5em auto #646cff;
}

.connect4-game button:disabled {
  cursor: not-allowed;
  outline: transparent;
}
