.slide-puzzle-board {
  .tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75em;
    height: 3.75em;
    margin: 0.3125em;
    background-color: #f0f0f0;
    border: 0.0625em solid #ccc;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
  }

  .tile:hover {
    cursor: pointer;
    background-color: #e0e0e0;
  }

  .tile.empty {
    background-color: lightgrey;
    border: 0.0625em dashed #ccc;
    cursor: default;
  }
}
