:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

/* Links */
a {
  font-weight: 500;
  color: #006400;
  text-decoration: inherit;
}

a:hover {
  color: #004d00;
}

/* Buttons */
button {
  border-radius: 0.5em;
  border: 0.0625em solid transparent;
  cursor: pointer;
  height: fit-content;
  transition: border-color 0.25s;
}

button:active {
  outline: 0.5em auto #646cff;
}

button:disabled {
  cursor: not-allowed;
  outline: transparent;
}
