@import './styles/variables.css';
@import './styles/buttons.css';
@import './styles/links.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}
