:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 0.50em;
  border: 0.0625em solid transparent;
  cursor: pointer;
  height: fit-content;
  transition: border-color 0.25s;
}

button:active {
  outline: 0.50em auto #646cff;
}

button:disabled {
  cursor: not-allowed;
  outline: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
  height: 100vh;
}
