.peg-board .cell {
  width: 1.25em;
  height: 1.25em;
  background-color: lightgray;
  border: 0.125em solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.peg-board .cell.peg {
  background-color: blue;
  box-shadow: 0.125em 0.125em 0.375em rgba(0, 0, 0, 0.3);

}

.peg-board .cell.empty {
  background-color: white;
  border: 0.125em solid black;
}

.peg-board .cell.invalid {
  visibility: hidden;
}

.peg-board .cell.selected {
  border: 0.125em solid red;
}
