.backgammon-board .point {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 9.375em;
  border: 0.25em solid transparent;
}

/* Board separators */
.backgammon-board .point:nth-child(6),
.backgammon-board .point:nth-child(18) {
  border-right-color: black;
}

.backgammon-board .point:nth-child(7),
.backgammon-board .point:nth-child(19) {
  border-left-color: black;
}

/* Point colors */
.backgammon-board .point.light {
  background-color: #f4a261;
}

.backgammon-board .point.dark {
  background-color: #2a9d8f;
}

/* Point orientation */
.backgammon-board .point.bottom {
  justify-content: flex-end;
}

/* Interactive states */
.backgammon-board .point.selected {
  border-color: #e2f114;
}

.backgammon-board .point.potential {
  border-color: #e7f070;
}