.backgammon-board {
  .point {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0.25em solid transparent;
    align-items: center;
    min-height: 9.375em;
  }

  .point:nth-child(6),
  .point:nth-child(18) {
    border-right: 0.25em solid black;
  }

  .point:nth-child(7),
  .point:nth-child(19) {
    border-left: 0.25em solid black;
  }

  .point.light {
    background-color: #f4a261;
  }

  .point.dark {
    background-color: #2a9d8f;
  }

  .point.bottom {
    justify-content: flex-end;
  }

  .point.selected {
    border: 0.25em solid #e2f114
  }

  .point.potential {
    border: 0.25em solid #e7f070
  }
}
