.slide-puzzle-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.25em auto;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.50em rgba(0, 0, 0, 0.1);
  border: 0.0625em solid black;
  padding: 1em;
  text-align: center;
  width: 22.5em;
}

.slide-puzzle-title {
  margin: 0 0 1em 0;
}

.slider-puzzle button:active {
  outline: 0.50em auto #646cff;
}

.slider-puzzle button:disabled {
  cursor: not-allowed;
  outline: transparent;
}
